/*
 * definierte classen:
 *  date
 *  size
 *  name
 */

TD { font-family: lucidatypewriter, courier, mono-space; 
font-size: 12px; }
A:link { text-decoration: none; }
HR { border: 1px solid; padding: 0; margin: 0; }
TH { text-align: left; }
